<% layout('layouts/boilerplate') %>
    <main>
        <div class="flex-shrink-0 p-3 bg-white sticky-top" style="width: 280px;">
            <p class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom" id="room-name">

            </p>
            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#users-collapse" aria-expanded="false">
                        Users   <i class="fa-solid fa-users" style="margin-bottom: 5px; margin-left: 3px;"></i>
    </button>
                    <div class="collapse" id="users-collapse">

                    </div>
                </li>
                <li class="border-top my-3"></li>
                <button class="d-block mx-auto" id="leave-room"><i class="fa-solid fa-right-from-bracket"></i> Leave Room</button>
            </ul>
        </div>

        <div class="b-example-divider sticky-top"></div>
        <div class="chat">
            <div class="chat__main">
                <div id="messages" class="chat__messages"></div>
                <div class="compose">
                    <form id="message-form">
                        <input type="text" name="message" placeholder="Message" id="message" autocomplete="off" required>
                        <button id="submit"><i class="fa-solid fa-paper-plane"></i> Send</button>
                    </form>
                    <button id="send-location"><i class="fa-solid fa-location-dot"></i> Send Location</button>
                </div>
            </div>
        </div>
    </main>


    <script id="message-template" type="text/html">
        <div class="message">
            <p class="message-info">
                <span class="message__name">{{username}}</span>
                <span class="message__meta">{{createdAt}}</span>
            </p>
            <p>{{createdAt}} - {{message}}</p>
        </div>
    </script>

    <script id="location-message-template" type="text/html">
        <div class="message">
            <p class="message-info">
                <span class="message__name">{{username}}</span>
                <span class="message__meta">{{createdAt}}</span>
            </p>
            <p><a href="{{url}}" target="_blank">My current location</a></p>
        </div>
    </script>

    <script id="room-sidebar-template" type="text/html">
        <img src="/img/chatify-room.png" alt="" srcset="">
        <span class="fs-5 fw-semibold">{{room}}</span>
    </script>

    <script id="users-sidebar-template" type="text/html">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            {{#users}}
            <li class="ml-2"><img src="/img/online-img.png" style="margin-right: 5px; margin-left: 25px;">
                <span class="link-dark rounded usernames">{{username}}</span>
            </li>
            {{/users}}
        </ul>
    </script>

    <script src="/js/mustache.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/sidebars.js "></script>
    <script src="/js/chat.js"></script>