<% layout('layouts/boilerplate') %>

    <div class="centered-form">
        <div class="centered-form__box">
            <img src="/img/chatify-logo.png" alt="" srcset="" style="margin-left: auto; margin-right: auto; display: block;">
            <h1>Join Chat Room</h1>
            <form action="/chat" method="GET" id="join-form">
                <label for="username">Display name</label>
                <input type="text" name="username" placeholder="Display name" id="username" required>
                <label for="room">Room</label>
                <input type="text" name="room" placeholder="Room" id="room" required>
                <button id="join-btn">Join</button>
            </form>
        </div>
    </div>

    <script src="/js/join.js"></script>